body{
margin:0;
padding:0;
background:#F5F2FF;
font-family:sans-serif;
}

.profile-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:50px 20px;
}

.profile-container{
width:100%;
max-width:800px;
background:white;
padding:50px;
border-radius:35px;
box-shadow:
0px 20px 50px
rgba(0,0,0,.08);
text-align:center;
}

.profile-container h1{
font-size:50px;
color:#7C3AED;
margin-bottom:40px;
}

.profile-logo{
width:120px;
height:120px;
margin:auto;
border-radius:50%;
background:
linear-gradient(
135deg,
#7C3AED,
#9333EA
);
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:55px;
font-weight:bold;
margin-bottom:25px;
box-shadow:
0px 15px 35px
rgba(124,58,237,.25);
}

.profile-container h2{
font-size:35px;
margin-bottom:35px;
color:#1E293B;
}

.profile-card{
background:#F8FAFC;
padding:25px;
margin-top:20px;
border-radius:25px;
text-align:left;
border-left:8px solid #7C3AED;
transition:.3s;
}

.profile-card:hover{
transform:translateY(-5px);
box-shadow:
0px 15px 35px
rgba(0,0,0,.08);
}

.profile-card h3{
margin:0;
margin-bottom:12px;
color:#7C3AED;
font-size:24px;
}

.profile-card p{
margin:0;
font-size:20px;
color:#475569;
word-break:break-word;
}

.back-btn{
width:100%;
margin-top:40px;
padding:20px;
border:none;
border-radius:25px;
cursor:pointer;
font-size:24px;
font-weight:bold;
color:white;
background:
linear-gradient(
135deg,
#7C3AED,
#9333EA
);
transition:.3s;
}

.back-btn:hover{
transform:translateY(-5px);
box-shadow:
0px 15px 35px
rgba(124,58,237,.25);
}

@media(max-width:768px){

.profile-container{
padding:30px;
}

.profile-container h1{
font-size:40px;
}

.profile-container h2{
font-size:28px;
}

.profile-logo{
width:100px;
height:100px;
font-size:45px;
}

.profile-card{
padding:20px;
}

.profile-card h3{
font-size:22px;
}

.profile-card p{
font-size:18px;
}

.back-btn{
font-size:20px;
}

}

@media(max-width:500px){

.profile-container{
padding:25px;
}

.profile-container h1{
font-size:32px;
}

.profile-container h2{
font-size:24px;
}

.profile-logo{
width:85px;
height:85px;
font-size:35px;
}

.profile-card h3{
font-size:20px;
}

.profile-card p{
font-size:16px;
}

.back-btn{
padding:18px;
font-size:18px;
}

}