*{
    box-sizing:border-box;
}


body{

    margin:0;

    background:#F6F4FF;

    font-family:sans-serif;

}


.login-page{

    min-height:100vh;

    display:flex;

}


.left-section{

    flex:1;

    padding:50px;

    background:

    linear-gradient(
    135deg,
    #F4F1FF,
    #EEE9FF
    );

    text-align:center;

}


.left-section h1{

    color:#6D28D9;

    font-size:60px;

    margin-bottom:10px;

}


.left-section h3{

    color:#555;

}


.left-section h2{

    margin-top:40px;

    color:#1E293B;

}


.left-section p{

    line-height:1.8;

    font-size:18px;

    color:#555;

}


.college-image{

    width:90%;

    margin-top:40px;

}


.right-section{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}


.login-card{

    width:80%;

    padding:50px;

    background:white;

    border-radius:25px;

    box-shadow:
    0px 20px 50px
    rgba(0,0,0,0.08);

}


.login-card h1{

    text-align:center;

    color:#1E293B;

}


.login-card p{

    text-align:center;

    color:gray;

}


.login-card input{

    width:100%;

    padding:18px;

    margin-top:25px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#F8FAFC;

    font-size:17px;

}


.login-card input:focus{

    border:
    2px solid #8B5CF6;

}


.login-btn{

    width:100%;

    padding:18px;

    margin-top:30px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    color:white;

    font-size:20px;

    background:

    linear-gradient(
    135deg,
    #7C3AED,
    #9333EA
    );

}


.register-btn{

    width:100%;

    display:block;

    margin-top:25px;

    padding:18px;

    text-align:center;

    text-decoration:none;

    color:#7C3AED;

    border:
    2px solid #7C3AED;

    border-radius:15px;

}


.login-card h4{

    margin-top:40px;

    text-align:center;

    color:gray;

}


.login-btn:hover,
.register-btn:hover{

    transform:
    translateY(-3px);

    transition:0.3s;

}